*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-main{
    background-color: #f4f4f5;
    width: 100%;
}
.container{
    max-width: 1320px; 
}

/* Header*/

.top-main .container .header-main{
    border-bottom: 1px solid #d4d3d3;   
    padding-bottom: 30px;
}

.top-main .row{
    padding-top: 25px;
    height: 60px;
}
.top-main .seach{
    display: flex;
    height: 100%;
    align-items: center;
    
}
.top-main .head{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    

}
.top-main .acc{
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
   
    margin-right: -20px;
}
.top-main .head img{
    width: 31px ;
    height: 15px;
    margin: 0px 9px;
    
}
.p2s{
    display: flex;
    justify-content: space-between;
    margin-left: -36px;
    margin-right: -17px;
}
.b2s{
    border: none;
    line-height: normal;
    list-style: none;
    background-color: #F4F4F5;
}

.top-main .acc .shoping{
    padding-left: 22px;
}
.top-main .acc .b2s i{
    font-size: 21px;
    padding: 0px 8px;
}
.top-main .acc i{
    font-size: 20px;
}
.top-main .acc .b2s span{
    font-size: 18px ;
    font-family: 'Roboto', sans-serif;
}
.top-main .header .seach{
    font-size: 23px;
}
.top-main .header .head span{
    font-size: 30px;
}
.top-main .menu li{
    text-align: justify;
    text-decoration: none;
    list-style: none;
    font-size: 16.5px;
    font-family: 'Roboto', sans-serif;
}
.top-main .menu{
    width: 100%;
    margin-top: 30px;
}
.top-main  a{
    list-style: none;
    text-decoration: none;
    color: #1E2832;
}
/*BOX*/
.top-main .box{
    width: 90%;
    display: flex;
    align-items: center;
}
.top-main .box .ccollections .para{
    width: 682px;
    font-family: 'Roboto', sans-serif;
}
.top-main .box .collections span{
    font-size: 74px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px; 
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    
}
.top-main .box .collections h2{
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; 
    text-transform: capitalize;
    padding-top: 50px;
    padding-bottom: 50px;
}
.top-main .box .collections{
    margin-top: -42px;
}
.top-main .box .collections .shop{
    width: 223px;
    height: 72px;
    background-color: #1E2832;
    
}
.top-main .box .collections .shop i{
    font-size: 24px;
    color: var(--white, #FFF);
    padding: 0px 8px;
    text-align: center;
}
.b2s:hover .b3s{
    background-color: red;
    width: 100%;
    height: 100%;
}

.top-main .box .collections .shop span{
    font-size: 29px;
    color: var(--white, #FFF);
    text-align: center;
}
.top-main .box .title{
   position: relative;
   left: 57px;
   padding: 83px 0px 60px 0px;
}
.top-main .box .title img{
    width: 424px;
    height: 542px ;
    border-top-left-radius: 34.3%;
    border-bottom-right-radius: 34.5%;
    position: absolute;
    z-index: 9;
    bottom: 20px;
    right: 18px;
    object-fit: cover;

}
.top-main .box .title .photo-main{
    width: 424px;
    height: 542px;
    border: 1px solid #9e9292;
    border-top-left-radius: 34.3%;
    border-bottom-right-radius: 34.3%;
    position: relative;
    object-fit: cover;
}

/* Brand*/
.brand{
    margin-top: 90px;
    margin-left: 10px;
    margin-bottom: 90px;
}
.brand-main{
    display: flex;
    justify-content: space-between;
    margin: 0px -10px;
    align-items: center;
}

.brand-main img{
    width: 200px;
    height: 70px;  
}
/*Card*/
.carrd .container{
    --bs-gutter-x: 0rem;
}
.k8s{
    display: flex;
    justify-content:center;
}
.carrd{
    margin-right: 37px;
}
.carrd .container{
    margin: 0;
}
.carrd .row .card1{
   width: 100%;
   height: 648px;
}
.carrd .row .card1 img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: 0% 0%;
}
.carrd .row .card1{
    position: relative;
   
}
.carrd .row .card2{
    position: relative;
}
.carrd .row .card2 {
    width: 100%;
    height: 312px;
    margin-bottom: 25px;
}
.carrd .row .type-carrd{
        background-color: #1E2832;
        width: 100%;
        display: flex;
        color: #f4f4f5;
        justify-content: space-between;
        padding: 20px 20px;
        font-size: 20px;
        position: absolute;
        bottom: 0;
}
.carrd .row .card2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 .carrd .text p{
    width: 52px;
    height: 648px;
    writing-mode:vertical-rl;
    text-align: center;
    text-transform:uppercase;
    font-size: 34px;
    transform: rotate(180deg);
    font-weight: 500;   
    font-family: 'Roboto', sans-serif;
}
/*-------------gird-products---------------*/
.gird-products{
    margin-top: 104px;
}
.gird-products .container{
    --bs-gutter-x: 0rem;
}
.gird-products .section-title, .t1s{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}
.gird-products .section-title{
    margin-bottom: 30px;
}
.gird-products .card-products{
    margin-top: 30px;
    
}
.gird-products  button{
    width: 92px;
    height: 32px;
    background-color: #1E2832;
    color: #FFF;
}

/*----top-section-products-------*/
.gird-products .top-section-products, .t2s{
    display: flex;
    justify-content: space-between;
}

.gird-products .top-section-products .category, .t3s{
    width: 373px;
    
}
.gird-products .top-section-products li, .t4s{
    text-decoration: none;
    list-style: none; 
    font-size: 16px;
    font-weight: -600;
    font-family: 'Roboto', sans-serif;
}
.gird-products .top-section-products li span, .t5s{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.gird-products .top-section-products .list, .t6s{
    display: flex;
    justify-content:space-between;
    padding: 0;
}

/*---------------card-products----------*/
.gird-products .card-products .card-1{
    width: 321px;
    margin-bottom: 24px;
   
}
.gird-products .card-products .card-1 img{
    width: 321px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 18px;
}


/*---gird-products------card-------------*/
.gird-products .card-products .card-1 .box{
    margin: 0px 10px;
    
}
.gird-products .card-products .card-1 .box .text{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}
.gird-products .card-products .card-1 .box .text-main{
    display: flex;
    justify-content: space-between;
}

/*-------------rectangle------------------*/
.rectangle .background-128{
    position: relative;
    margin-top: 100px;
}
.rectangle .background-128 img{
    width: 100%;
    height: 776px;
    object-fit: cover;
}
.rectangle .logo1 img{
    width: 732px;
    height: 309px;
}
.rectangle .logo1{
    background-color: black;
    position: absolute;
    top: 48px;
    right: 0;
    
}
.rectangle .logo2 img{
    width: 191px;
    height: 81px;
}
.rectangle .logo2{
    width: 191px;
    height: 81px;
    background-color: black;
    position: absolute;
    top: 235px;
    right: 620px;
}
.rectangle .text{
    width: 504px;
    position: absolute;
    top: 368px;
    right: 307px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}
.rectangle .text p{
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    line-height: 48px;
    font-style: normal;
    font-weight: 400;
}
.rectangle .button{
    position: absolute;
    top: 612px;
    right: 574px;
}
.rectangle button{
    width: 237px;
    height: 72px;  
}
.rectangle .button span{
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 19px 26px;
}

/*----------slider-products------------card----------------*/
.slider-products{
    margin-top: 138px;
    margin-left: 20px;
}
.slider-products .container{
    --bs-gutter-x: 0rem;
}
.slider-products .top-section-products{
    margin-top: 28px;
}
.slider-products .card-products{
    margin-top: 24px;
  
}

.slider-products .card-products .card-1{
    width: 321px;
    margin-bottom: 24px;
}
.slider-products button{
    width: 93px;
    height: 32px;
    background-color: #1E2832;
    color: #FFF;
}
.slider-products .card-products .card-1 img{
    width: 321px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 18px;
}
.slider-products .card-products .card-1 .box{
    margin: 0px 10px;
    
}
.slider-products .card-products .card-1 .box .text{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}
.slider-products .card-products .card-1 .box .text-main{
    display: flex;
    justify-content: space-between;
}




/*-----------newsletter-intagram--------*/
.newsletter-intagram{
    background-color: #F4F4F5;
    height: 754px;
    margin-top: 100px;
 
}
.newsletter-intagram .card-new{
    margin-top: 54px;
}
.newsletter-intagram .section-title{
    margin-top: 60px;
}
.newsletter-intagram .information{
    margin-top: 64px;

}
.newsletter-intagram .container{
    --bs-gutter-x: 0rem;
}
.newsletter-intagram .section{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    padding-top: 100px;
}
.newsletter-intagram .section-title{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
}
.newsletter-intagram .card-new img{
    width: 200px;
    height: 200px;
}
.newsletter-intagram .information{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    
}
.newsletter-intagram .information input{
    width: 643px;
    height: 32px;
    border:none;
    border-bottom: 2px solid black;
    background-color:#F4F4F5;
    margin: 0px 5px;
    padding-bottom: 17px;
    padding-left: 10px;
    font-size: 16px;
    
}
.newsletter-intagram .information button{
    width: 91px;
    height: 37px;
    border:none;
    border-bottom: 2px solid black;
    background-color: #F4F4F5;
    margin-left: 20px;
}
.newsletter-intagram .information  span{
    padding: 10px;
    font-size: 16px;
}
/*--------footer-----------*/
.footer{
    margin-top: 82px;
    width: 1920px;
    height: 355px;
    background-color: #FFF;
    display: flex;
    align-items: center;
}
.footer .container{
    --bs-gutter-x: 0rem;
}
.footer .container ul{
    margin: 0;
    padding: 0;
}
.footer .container li{
    text-decoration: none;
    list-style: none;
    list-style-position:outside ;
    margin-block-start: none ;
    font-size: 14px;
    line-height:34px;
}
.footer .left-footer p{
    width: 370px;
    font-size: 16px;
    line-height: 32px;
}
.footer .left-footer .icon{
    margin-top: 29px;
    margin-left: 4px;
}
.footer .left-footer .icon i{
    font-size: 20px;
    padding-left: 4px;
}
.footer .container .title-top{
    font-size: 28px;
    padding-bottom: 22px;
    line-height: normal;
    font-weight: 500;
}
.footer .container .left-footer li{
    line-height: normal; 
}
.footer .container .left-footer .icon i{
    padding-right: 36px;

}
.footer .container .title{
    font-size: 16px;
    line-height: normal;
    padding-bottom: 22px;
    font-weight: 500;
}
.footer .footer-menu{
    width: 200px;
    margin-left: 112px;
}


/*------bottom-foote------------------*/
.bottom-footer{
    background-color: #1E2832;
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    margin-top: 16px;
}
.bottom-footer .container {
    display: flex;
    justify-content: space-between;
    
}
.bottom-footer .container .bank{
    width: 283px;
    height: 24px;
}
.bottom-footer .container .year{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.bottom-footer .container .head-back button{
    color:#FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.bottom-footer .head-back button{
    background-color: #1E2832;
    border: none;
}